 .u-section-1 {
  background-image: none;
  min-height: 933px;
}

.u-section-1 .u-image-1 {
  object-position: 0% 0%;
  height: 752px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -261px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 310px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0;
}

.u-section-1 .u-text-13 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 52px auto 54px;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    object-position: 27.89% 0%;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 591px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    object-position: 41.74% 0%;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1717px;
  }

  .u-section-1 .u-image-1 {
    height: 691px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -200px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-2 .u-text-1 {
  width: 459px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 955px;
  margin: 46px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 519px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 10px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 10px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 10px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 10px;
}

.u-section-2 .u-text-8 {
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 46px auto 60px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 798px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-5 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-13 {
  height: 100%;
}

.u-section-3 .u-icon-14 {
  height: 100%;
}

.u-section-3 .u-icon-15 {
  height: 100%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-6 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-16 {
  height: 100%;
}

.u-section-3 .u-icon-17 {
  height: 100%;
}

.u-section-3 .u-icon-18 {
  height: 100%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-15 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-7 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-19 {
  height: 100%;
}

.u-section-3 .u-icon-20 {
  height: 100%;
}

.u-section-3 .u-icon-21 {
  height: 100%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 257px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-16 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-17 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-3 .u-social-icons-8 {
  white-space: nowrap;
  height: 19px;
  min-height: 16px;
  width: 76px;
  min-width: 68px;
  margin: 19px auto 0;
}

.u-section-3 .u-icon-22 {
  height: 100%;
}

.u-section-3 .u-icon-23 {
  height: 100%;
}

.u-section-3 .u-icon-24 {
  height: 100%;
}

.u-section-3 .u-text-18 {
  margin: 20px auto 60px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 658px;
  }

  .u-section-3 .u-image-1 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 77px;
  }

  .u-section-3 .u-image-2 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-2 {
    width: 77px;
  }

  .u-section-3 .u-image-3 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-3 {
    width: 77px;
  }

  .u-section-3 .u-image-4 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-4 {
    width: 77px;
  }

  .u-section-3 .u-image-5 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-5 {
    width: 77px;
  }

  .u-section-3 .u-image-6 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-6 {
    width: 77px;
  }

  .u-section-3 .u-image-7 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-7 {
    width: 77px;
  }

  .u-section-3 .u-image-8 {
    height: 200px;
  }

  .u-section-3 .u-social-icons-8 {
    width: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 2016px;
  }

  .u-section-3 .u-image-1 {
    height: 343px;
  }

  .u-section-3 .u-image-2 {
    height: 343px;
  }

  .u-section-3 .u-image-3 {
    height: 343px;
  }

  .u-section-3 .u-image-4 {
    height: 343px;
  }

  .u-section-3 .u-image-5 {
    height: 343px;
  }

  .u-section-3 .u-image-6 {
    height: 343px;
  }

  .u-section-3 .u-image-7 {
    height: 343px;
  }

  .u-section-3 .u-image-8 {
    height: 343px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 595px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 595px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 595px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 595px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 595px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 595px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 595px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1.875rem;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 595px;
  }

  .u-section-3 .u-text-16 {
    font-size: 1.875rem;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 366px;
  }

  .u-section-3 .u-image-2 {
    height: 366px;
  }

  .u-section-3 .u-image-3 {
    height: 366px;
  }

  .u-section-3 .u-image-4 {
    height: 366px;
  }

  .u-section-3 .u-image-5 {
    height: 366px;
  }

  .u-section-3 .u-image-6 {
    height: 366px;
  }

  .u-section-3 .u-image-7 {
    height: 366px;
  }

  .u-section-3 .u-image-8 {
    height: 366px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://assets.nicepagecdn.com/d2cc3eaa/3256687/images/rte34-min.jpg');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 735px;
}

.u-section-4 .u-text-1 {
  font-size: 2.8125rem;
  margin: 60px 74px 0;
}

.u-section-4 .u-text-2 {
  width: 799px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 616px;
  margin: 31px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 82px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 16px 31px 16px 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 82px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  margin: 0 auto 0 0;
  padding: 15px 59px 16px 58px;
}

.u-section-4 .u-text-3 {
  width: 438px;
  margin: 52px auto 60px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 339px;
}

.u-section-5 .u-text-1 {
  width: 646px;
  margin: 60px auto 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 47px auto 60px;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 1169px;
}

.u-section-6 .u-shape-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: -274px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 463px;
  grid-gap: 26px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-6 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-2 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-6 .u-image-3 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 34px 0 0;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.125rem;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 27px auto 55px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 394px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 120px 30px 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
}

.u-section-6 .u-social-icons-1 {
  height: 28px;
  min-height: 16px;
  width: 208px;
  min-width: 148px;
  margin: 46px 321px 0 0;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 30px 30px 50px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-10 {
  line-height: 1.6;
  font-weight: 700;
  margin: 30px 127px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-6 .u-text-11 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-6 .u-text-12 {
  margin: 33px 48px 0 0;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  font-style: italic;
  text-transform: none;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1100px;
  }

  .u-section-6 .u-shape-1 {
    height: 310px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-top: -226px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 378px;
  }

  .u-section-6 .u-image-1 {
    height: 332px;
  }

  .u-section-6 .u-image-2 {
    height: 332px;
  }

  .u-section-6 .u-image-3 {
    height: 332px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 27px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 875px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 912px;
  }

  .u-section-6 .u-image-1 {
    height: 381px;
  }

  .u-section-6 .u-image-2 {
    height: 381px;
  }

  .u-section-6 .u-image-3 {
    height: 381px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 3243px;
  }

  .u-section-6 .u-shape-1 {
    height: 443px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: -359px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-image-1 {
    height: 572px;
  }

  .u-section-6 .u-image-2 {
    height: 572px;
  }

  .u-section-6 .u-image-3 {
    height: 572px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 65px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2691px;
  }

  .u-section-6 .u-shape-1 {
    height: 308px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: -224px;
  }

  .u-section-6 .u-image-1 {
    height: 360px;
  }

  .u-section-6 .u-image-2 {
    height: 360px;
  }

  .u-section-6 .u-image-3 {
    height: 360px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -487px;
  }
}